html {
    height: 100%;
}
body {
    color: white;
    background: #182539;
}
.Forms {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #0d151f;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    color: white;
}
.dashboard {
    margin: auto;
    background: #0d151f;
    padding: 40px;
    text-align: center;
}
.center{
    text-align: center;
}