<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  
    <form method="post">
      <h2>Add an Employee to the system</h2>
      <h3>email*</h3>
      <p><input type=text name=email>
      <h3>password*</h3>
      <p><input type=text name=password, minlength="5">
      <h3>phoneNum*</h3>
      <p><input type=text name=phoneNum>
      <h3>First Name*</h3>
      <p><input type=text name=fName>
      <h3>Middle Name</h3>
      <p><input type=text name=mName>
      <h3>Last Name</h3>
      <p><input type=text name=lName>
      <h3>Sin number*</h3>
      <p><input type=text name=sinNum size="9">
      <h3>Position</h3>
      <p><input type=text name=position>
      <p><input type=submit value=Submit>
    </form>
    <a href="{{ url_for('index') }}"><button>Back to DashBoard</button></a>
  </body>
</html>

