<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amount Due</title>
</head>
<body>
    <form method="post">
        <select name="employee">
        <option value="none">Select and Employee</option>
        {% for employee in employees %}
        <option value="{{ employee[2] }}">{{ employee[0] }} {{ employee[1] }} {{ employee[2] }}</option>
        {% endfor %}
        </select>
        <p><input type=submit value=Submit>
    </form>
    {% if amountDueData %}
        <p>This employee is due {{ amountDueData['amount'] }}</p>
        <h3>Payment Information</h3>
        <p>bankCode: {{amountDueData['bankCode']}}</p>
        <p>transitNum: {{amountDueData['transitNum']}}</p>
        <p>wage: {{amountDueData['wage']}}</p>
        <p>payStructure: {{amountDueData['payStructure']}}</p>
        <p>accountNum: {{amountDueData['accountNum']}}</p>
        
    {% endif %}
    <a href="{{ url_for('index') }}"><button>Back to DashBoard</button></a>
</body>
</html>