<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Select Picker -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- Custom Styles -->
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
    <title>Amount Due</title>
</head>
<body>
    <div class="navbar">
        <nav>
            <ul class="navpagelinks">
                <li><a href="{{ url_for('index') }}">Dashboard</a></li>
                <li><a href="/">Shifts</a></li>
            </ul>
            <a class="chere" href="{{ url_for('logout') }}"><button class="logout">Logout</button></a>
        </nav>
    </div> 

    <form method="post" class="Forms">
        <h3>Amount Due to Employee</h3>
        <select name="employee" class="selectpicker" data-live-search="true">
            <option value="none" class="dropdown-item">Select and Employee</option>
            {% for employee in employees %}
            <option value="{{ employee[2] }}" class="dropdown-item">{{ employee[0] }} {{ employee[1] }} {{ employee[2] }}</option>
            {% endfor %}
        </select>
        <p><input type=submit class="btn btn-primary" value=Submit>
        {% if amountDueData %}
            <p>This employee is due {{ amountDueData['amount'] }}</p>
            <h3>Payment Information</h3>
            <p>bankCode: {{amountDueData['bankCode']}}</p>
            <p>transitNum: {{amountDueData['transitNum']}}</p>
            <p>wage: ${{amountDueData['wage']}}</p>
            <p>payStructure: {{amountDueData['payStructure']}}</p>
            <p>accountNum: {{amountDueData['accountNum']}}</p>
            
        {% endif %}
    </form>

</body>
</html>