<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    {% if session['username'] %}
      <h1> Logged in as {{session['username']}}</h1>
      {% if session['permissions'] == 0 %}
      <a href="{{ url_for('addEmployee') }}"> <button>Add an Employee</button></a>
      <a href="{{ url_for('logout') }}"><button>Logout</button></a>
      <a href="{{ url_for('shiftPunches') }}"><button>Shift Punches</button></a>
      <a href="{{ url_for('timeWorked') }}"><button>Time Worked</button></a>

      {% else %}
      <a href="{{ url_for('logout') }}"><button>Logout</button></a>
      <a href="{{ url_for('shiftPunches') }}"><button>Shift Punches</button></a>
      <a href="{{ url_for('timeWorked') }}"><button>Time Worked</button></a>

      {% endif %}
    {% else %}
      <h1>Welcome to the Employee Management page, to use the site you must first login</h1>
      <a href="{{url_for('login')}}"><button>Login!</button>

    {% endif %}
  </body>
</html>

