<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    {% if session['username'] %}
      <h1> Logged in as {{session['username']}}</h1>
      <a href="{{ url_for('addEmployee') }}" <button>Add an Employee</button></a>
    {% else %}
      <h1>Welcome! Please enter your email <a href="{{ url_for('login') }}">here.</a></h1>

    {% endif %}
  </body>
</html>
