<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      body {
        background: #182539;
      }
    </style>
  </head>
  <body>
    <div class="Forms">
      <h2>Employee Management</h2>
      <form method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type=text name=email class="form-control" placeholder="example@gmail.com"></input>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type=password name=password class="form-control" placeholder="password123"></input>
        </div>
  
        <input type=submit value=Login class="btn btn-primary"></input>
      </form>
    </div>
  </body>
</html>
