<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
     <h1> Logged in as {{session['username']}}</h1>
        <form method="post">
        {% if session['lastPunch'] == 'IN' %} 
        <button type="submit" name="punch" value="OUT">Punch OUT</button>
        {% else %}
        <button type="submit" name="punch" value="IN">Punch IN</button>
        {% endif %}
        </form>

    <a href="{{ url_for('index') }}"><button>Back to DashBoard</button></a>
  </body>
</html>

