<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet"> 
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          initialDate: '2023-06-07',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,list'
          },
          events: [
            {%for shift in allShifts%}
            {
              title: '{{shift.title}}',
              start: '{{shift.start}}',
              end: '{{shift.end}}'
            },
            {% endfor %}
          ]
        });

        calendar.render();
      });
    </script>
  </head>
  <body>
    <div class="navbar">
    <nav>
      <ul class="navpagelinks">
          <li><a href="{{ url_for('index') }}">Dashboard</a></li>
          <li><a href="/">Shifts</a></li>
      </ul>
      <a class="chere" href="/"><button class="logout">Logout</button></a>
    </nav>
  </div> 

  <div id="calendar"></div>


  
  </body>
</html>

