<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet"> 
   <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
  </head>
  <body>
    <div class="navbar">
    <nav>
      <ul class="navpagelinks">
          <li><a href="{{ url_for('index') }}">Dashboard</a></li>
          <li><a href="/">Shifts</a></li>
      </ul>
      <a class="chere" href="/"><button class="logout">Logout</button></a>
    </nav>
  </div> 
    {% for shift in allShifts %}
        <h1>{{ shift[0] }} {{ shift[1] }}</h1>
        {% endfor %}
    <a href="{{ url_for('index') }}"><button>Back to DashBoard</button></a>
  <div id="calendar"></div>
    
       <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>


  
  </body>
</html>

